<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Pagina web basica</title>

</head>
<body>

    <div class="head">

        <div class="logo">
            <a href="#">Logo</a>
        </div>

        <nav class="navbar">
            <a href="#">Inicio</a>
            <a href="#">Nosotros</a>
            <a href="#">Contacto</a>
        </nav>

    </div>

    <header class="content header">
        <h2 class="title">Inicio</h2>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Ipsam necessitatibus odio quisquam reprehenderit quas, 
             obcaecati, harum hic molestiae sequi ipsa nihil id tempore explicabo 
            libero vero quia asperiores similique dicta.
        </p>

        <div class="btn-home">
            <a href="#" class="btn">Saber mas</a>
            <a href="#" class="btn">Saber mas</a>
        </div>
    </header>

    <section class="">
        <div class="title-cards">
            <h2>Servicios que Ofrecemos</h2>
        </div>
    <div class="container-card">
        
    <div class="card">
        <figure>
            <img src="static/img/costos.jpg">
        </figure>
        <div class="contenido-card">
            <h3>Registrar notas</h3>
            <p>Podemos registrar las notas de los alumnos</p>
            <a href="#">Leer Màs</a>
        </div>
    </div>
    <div class="card">
        <figure>
            <img src="static/img/costos.jpg">
        </figure>
        <div class="contenido-card">
            <h3>Registrar asistencia</h3>
            <p>Podemos registrar la asistencia de los alumnos</p>
            <a href="#">Leer Màs</a>
        </div>
    </div>
    <div class="card">
        <figure>
            <img src="static/img/costos.jpg">
        </figure>
        <div class="contenido-card">
            <h3>Registrar anotaciones</h3>
            <p>Podemos registrar las anotaciones de los alumnos</p>
            <a href="#">Leer Màs</a>
        </div>
    </div>
    </div>

       

    </section>

    
    
</body>
</html>